a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
    line-height: 1.4;
    font-family: 'Averia Sans Libre', cursive;
    background-color: #4CAF50;
}

h1{
    display:none;
}

#imgHeader{
    width:100%;
    filter:invert();
}

.menu, .menu ul {
    list-style: none;
}

    .menu ul {
        position: absolute;
        left: -9999em;
        z-index: 500;
    }

    .menu li {
        position: relative;
        float: left;
        background-color: #00791B;
        width:50%;
    }
    .menu li>ul li{
        width:100%;
    }
    .menu a {
        text-align:center;
        display: block;
        padding: .5em 0;
        color: #fff;
        text-decoration: none;
    }

    .menu li:hover {
        background-color: #999;
    }

        .menu li:hover ul {
            left: auto;
        }

.intra-links {
    text-align: center;
}
.intra-links li:hover{
    color: white;
    background-color: green;
}

/*----------Main-------------*/
.contents{
    padding: 0 1em;
}
h2{
    text-align: center;
}
img{
    text-align: center;
}
p{
    text-align:left;
}
table{
    margin:0 auto;
}
th {
    background-color: green;
    color: white;
    padding: 0.5em;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:nth-child(even) {
    background-color: white;
}
td{
    padding: 0.5em;
}
table>caption{
    display:none;
}
/*----------form----------*/
form{
    padding: 0 1em;
}
form li{
    width:100%;
}
label{
    width:50%;
}
input,select{
    float:right;
    width:50%;
}
/*----------media----------*/
video,object,iframe{
    width:100%;
}