@charset "UTF-8";
/* CSS Document */
body {
	font-size: 16px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #333;
    background-image: url("../img/BG_Pink_.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position: left top;
    
    padding-top: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    
    margin-left:0.5%;
    margin-right:0.5%;
    
    text-align: left;
    
    /* Box Shadow */
    -webkit-box-shadow: 6px -2px 9px 0px rgba(50, 48, 50, 0.57);
    -moz-box-shadow:    6px -2px 9px 0px rgba(50, 48, 50, 0.57);
    box-shadow:         6px -2px 9px 0px rgba(50, 48, 50, 0.57);
}
/* Multicolumn styling*/
header {
    width: 100%;
	height: 40%;
    background-color: #D3D3D3;
}
@media(min-width: 800px) {
    main {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }
    .intra-links{
        width: 20%;
        order:1;
    }
    .contents {
        width: 100%;
        order:4;
    }
    .form{
        width: 40%;
        order:2;
    }
    .media {
        width: 40%;
        order:3;
    }
}
footer {
	clear: both;
	width: 100%;
    background-color: #D3D3D3;
    opacity: 0.7;
}
/* Drop-down menus styling*/
.menu, .menu ul {
    padding: 0;
    list-style: none; 
}
.menu ul {
    position: absolute;
    left: -9999em;
    z-index: 500; 
    width:100%;
}
.menu li {
    display: block;
    position: relative;
    float: left;
    background-color: #666; 
    width: 50%;
}
.menu a {
    position: relative;
    display: block;
    padding: 0em 0em;
    width: 100%;
    color: #fff;
    text-decoration: none; 
    text-align: left;
}
.menu li li { 
    width: 100%; 
}
.menu li:hover {
    background-color: #999; 
}
.menu li:hover ul {
    left: auto; 
}
/* Headings */
h1 { 
    font-size: 200%; 
    /* Text Shadow */
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
header > h1 {
    text-align: center;
}
h2 { 
    font-size: 150%; 
    /* Text Shadow */
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
footer h2, footer a, footer > p {
    font-size: 80%;
    text-indent: 0;
    line-height: 80%;
}
h3, h4 { 
    font-size: 100%; 
}
/* paragraphs */
p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-indent: 4em;
    line-height: 200%;
    word-wrap: break-word;
}
/* Images */
img {
    width: 100%;
    height: 100%;
}
.contents ul
{
    list-style-type: none;
    display:flex;
    justify-content:space-between;
}
.contents a img
{
    width: 100%;
    vertical-align: middle; /* | top | bottom */
}
/* Media */
video, object, iframe{
    width: 100%;
    height: 100%;
}
/* Links styling */
external.a:link {
    color: #5688c6;
}
external.a:visited {
    color: #546c8a;
}
external.a:focus, .a:hover {
    color: #358fff;
}
externala:active {
    color:#ffbd1f
}
/* Table styling*/
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    height: 50px;
}
table, th, td {
    border: 1px solid black;
}
caption{
    font-style: italic;
    font-size: 30px;
}
/* Form styling */
fieldset{
    display: flex;
}
input:focus { 
    background-color: #cfc; 
}
select, input[type="text"], input[type="email"], input[type="file"], textarea{
    overflow:auto;
    width: 80%;
    resize:vertical; 
}