/* Importing fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');
/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ol .active {
    background-color:#c788cc;
    color: white;
}

    ol li {
    display: inline;
    }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Starting with the normal elements*/
/*colors and backgrounds*/
/* Type */

body{
	color:#f2f2f2;
	font-family: 'Oswald', sans-serif;
	font-size:20px;
	line-height:1.4em; 
	font-weight:normal;
    background-color: #ebe0ea;
	background-image: url("img/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("img/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("img/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("img/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}
h1 {
    color:#f2f2f2;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
    text-align:center;
    font-size:200%;
	margin:.45em 0;
	padding:0;
    float:both;
} 
h2, h3, h4, h5, h6{
    color:#f2f2f2;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	line-height:1.5em;
	margin:.45em 0;
	padding:0;
    float:both;
} 
/* links */
a:link {color:cadetblue;}
a:visited {text-decoration:none;}
a:hover {background-color:lightcoral}
a:active {color: yellow;}
/*tables*/
 table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 

} 
table td,  table th
 { 
    padding: 3px 10px; 
}
table thead th 
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #652299), color-stop(1, #4D1A75) );
    background:-moz-linear-gradient( center top, #652299 5%, #4D1A75 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#652299', endColorstr='#4D1A75');
    background-color:#652299;
    color:#FFFFFF; 
    font-size: 15px;
    font-weight: bold; 
    border-left: 1px solid #714399; 
} 
 table thead th:first-child 
{ 
    border: none; 
}
 table tbody td 
{
     color: #4D1A75; 
     border-left: 1px solid #E7BDFF;
     font-size: 12px;font-weight: normal;

}
 table tbody  td
 { background: #F4E3FF; color: #4D1A75; }

 table tbody td:first-child {
     border-left: none; 

}
 table tbody tr:last-child td {
     border-bottom: none; 

}
/*definition lists*/
dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
  
  dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    color: darkmagenta;
  }

  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }

/* Box sizing. */
*{	box-sizing:border-box;
	-moz-box-sizing:border-box;}
/* structure */   
.wrapper{
	width: 92%; 
	margin: 0 auto;
}
/*menu page and style changer*/
.menu, .menu ul {
    padding: 0;
    list-style: none; 
}
.menu ul {
    position: absolute;
    left: -9999em;
    z-index: 500; 
}
.menu li {
    position: relative;
    float: left;
    background-color: #c623a5; 
    min-width: 50%;
}
.menu a {
    position: relative;
    display: block;
    padding: .5em 5em;
    
    color:lightyellow;
    text-decoration: none; 
    text-align: center;
}
.menu li li { 
    width: 100%; 
}
.menu li:hover {
    background-color: #999; 
}
.menu li:hover ul {
    left: auto; 
}
header{ 
	padding:15px 0;
}
#imgHeader{ 
	text-align:center;
    float:both;
    width:100%;
}
/*ordered lists*/	
#page-header{
	background:#f3f3f3;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding:20px 0;
}

#form {
float:both;
}
.flexslider{
	display:none;
}

/*custom ourmission.html classes*/
.form {
float:left;
width:50%;
}
#donations {
float:left;
width:50%;
}
/*custom contact.html classes.*/
.intra-links {  
    float:both;
    width:100%;
}
.contents {  
	margin:40px 0;
    float:left;
    width:50%;
}
    .contents #paragraph {
    float:both;
    width:80%;
    }
#chequingInfo {
    float:both;
    width:100%;

}
/*custom sponsors.html classes*/
.contents #star{
float:both;
width:100%;

}
.contents #platinum {
    float:both;
    width:75%;
}

.contents, #gold {
    float:left;
    width:50%
}

.contents #silver {
float:left;
width:50%;
}
.contents li {
 display: inline;
    }
    .contents #star li img {
        width:50%;
    }
    .contents #platinum li img {
        width:40%;
    }
    .contents #gold li img {
        width:30%;
    }
    .contents #silver li img {
        width:20%;
    } 
    video,object,iframe{
    width:100%;
}
object{
    height:300px
}
aside { 
	margin:40px 0;
}

p{ margin:0 0 1.5em;}

/*main menu*/
.menu-toggle{
	display:block;
	padding:10px;
	margin:20px 0 0;
	background:#666;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	font-size:20px;
}
.menu-toggle.toggled-on{
	background:#0099ff;
}
.srt-menu{
	display:none;
}	
.srt-menu.toggled-on{
	display:block;
	position:relative;
	z-index:10;
}

.srt-menu{
	clear:both;
	margin-bottom:60px;
	
}
.srt-menu li a {
	background:#dadada;
	display:block;
	margin:1px 0; 
	padding:10px;
	text-decoration:none;
}
.srt-menu li a:hover{
	background:#0099ff;
	color:#fff;
}
.srt-menu li li a {
	background:#e8e8e8;
	padding-left:40px;
}
.srt-menu li li li a {
	background:#efefef;
	padding-left:80px;
}


/*FOOTER*/
footer{  
	clear:both;
	font-size:80%;
	padding:20px 0;
    background:#333;
	color:#ccc;

}
footer ul{
	margin:0;
	padding:0;
}
/* clearfixing floats*/ 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after{
  clear: both;
}
.media {
float:both;
width:100%;
}
form h3{
    clear: both;
    font-weight:700;
}
form li{
    width:100%;
    clear: both;
}
form label{
    width:45%;
    display:block;
    float:left;
    clear: both;
}
.media h2{
        text-align:initial;
    }
/*
Resizing and changing parameters for the media screen
*/
@media (min-width: 768px) {
     #video-div {
    float:left;
    width:30%;
    }
    #flash-div {
    float:left;
    width:30%;
    }
    #iframe-div {
    float:left;
    width:30%;
    }


}
@media (max-width: 600px) {
    #video-div h2{
        clear:both;
        float:both;
        text-align:initial;
    }
    form {
    clear:both;
    float:both;
    width:80%;
    }
    .contents {
     float:both;
    width:100%;
    }
    .wrapper{
	    max-width: 1200px; 
	    margin: .75em auto;
    }

    #imgHeader{ 
	    float:left; 
	    text-align:left;
	    margin-bottom:0px;
    }
    header{
	    padding:0;
    }
    aside { 
	    float:right;
	    width:30%;
    }

   
    h1 {
    font-size:80%;
    }
    h2 {
    font-size:70%;
    text-align:center;
    width:100%;
    }
    form .inputs label {
    font-size: 8px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
    }
    dl {
    width:100%;
        }
    dt {
    text-align: end;
    font-weight:normal;
    color: darkmagenta;
  }
    .menu li {
    clear:left;
    float:both;
    width:100%;
    }
}
form {
    background: #fff;
    color:#4D1A75;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}
    form fieldset legend {
    color:#4D1A75;
    }
form .inputs {
    margin-top: 25px;
}

form .inputs label {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

form .inputs input[type=email], input[type=password],input[type=text],input[type=email] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

    form textarea {
     width: 330px;
    }

form .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

form input[type=submit] {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}


